h1 {
  font-size:50px;

}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  
}
.weather-app {
  font-family:'Quicksand', sans-serif; 
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 600px;
  margin: 30px auto;


}


#temperature {
  padding-left: 20px;
  font-size: 60px;
  line-height: 90px;
  
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
li {

  text-transform: capitalize;
}
